<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725669311128-e9ron8i0ms0dfpa1hehfqihkpht6npvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725669311128-e9ron8i0ms0dfpa1hehfqihkpht6npvo</string>
	<key>API_KEY</key>
	<string>AIzaSyBp2F7_KBVfqpno2C2f2JNXKKu_uP4tJ3w</string>
	<key>GCM_SENDER_ID</key>
	<string>725669311128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>naydenovich.viktor.Dogsign-ToDo</string>
	<key>PROJECT_ID</key>
	<string>dogsign-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>dogsign-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725669311128:ios:43f016ff7a396d249416ed</string>
</dict>
</plist>